[connection_name]
# tcp socket example

host = 127.0.0.1
port = 3306
user = root
password = 
db_name = 
connect_timeout = 0

[your_server]
# unix_socket example

unix_socket = /tmp/mysql.sock
user = root
password = 
db_name = 
connect_timeout = 0
